<form method="post">
    {{ form.hidden_tag() }}
    <div class="form-outline form-white mb-4">
        <label class="form-label" for="typeEmailX">Email</label>
        {{ form.email(class='form-control center', placeholder='Email', style="width: 95%") }}
    </div>

    <div class="form-outline form-white mb-4">
        <label class="form-label" for="typePasswordX">Password</label>
        {{ form.password(class='form-control center', placeholder='Password', style="width: 95%") }}
    </div>

    {{ form.submit_button(class='btn button-primary btn-outline-light') }}
</form>