<form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <!-- Email -->
        <div class="form-outline form-white mb-4">
            <label class="form-label" for="email">Email</label>
            {{ form.email(class='form-control center', placeholder='Email', style="width: 95%") }}
        </div>
        <!-- Username -->
        <div class="form-outline form-white mb-4">
            <label class="form-label" for="username">Username</label>
            {{ form.username(class='form-control center', placeholder='Username', style="width: 95%") }}
        </div>
        <!-- Password -->
        <div class="form-outline form-white mb-4">
            <label class="form-label" for="password">Password</label>
            {{ form.password(class='form-control center', placeholder='Password', style="width: 95%") }}
        </div>
        <div class="form-outline form-white mb-4">
            <label class="form-label" for="password">Confirm Password</label>
            {{ form.password_confirm(class='form-control center', placeholder='Confirm Password', style="width: 95%") }}
        </div>
        <!-- Submit -->
        {{ form.submit_button(class='btn button-primary btn-outline-light') }}
    </div>
</form>