{% extends 'base.html' %}

{% block content %}

<section class="vh-50 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-3 text-center">
                        <div class="mb-md-5 mt-md-4 pb-1">
                            <h2 class="fw-bold mb-2 text-uppercase">Profile</h2>
                            <div class="container">
                              <!-- Profile info -->
                              <h3 class="fw-bold">Email: {{ email }}</h3>
                              <h3 class="fw-bold">Username: {{ username }}</h3>
                              <h3 class="fw-bold">High Score: {{ score }}</h3>
                              <h3 class="fw-bold">Current Streak: {{ current_streak }}</h3>
                              <h3 class="fw-bold">Highest Streak: {{ highest_streak }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Update profile -->
<section class="vh-50 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">Update profile</h2>
                <!-- Update email -->
                {% include 'update_email_form.html' %}
                <br>
                <!-- Update username -->
                {% include 'update_username_form.html' %}
                <br>
                <!-- Update password -->
                {% include 'update_password_form.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock content %}