{% extends 'base.html' %}

{% block content %}
<section class="vh-50 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-3 text-center">
                        <div class="mb-md-5 mt-md-4 pb-1">
                            <h2 class="fw-bold mb-2 text-uppercase">You Lose!</h2>
                            <br>
                            <!-- Solution -->
                            <h3>Solution: {{ solution }}</h3>
                            <br>
                            <!-- Streak info -->
                            <h3>Your streak ended at {{ streak }}</h3>
                            <br>
                            {% if new_high_streak %}
                                <h3>Congradulations, you earned a new Highest Streak!</h3>
                            {% endif %}
                            <!-- Restart option -->
                            <h2 class="fw-bold mb-2 text-uppercase">Try again?</h2>
                            <br>
                            <a href="{{ url_for('game.start') }}">
                                <button class="btn button-primary">Start</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Streakboard -->
<section class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white px-2" style="border-radius: 1rem;">
            <h2 class="text-center my-3">Streakboard</h2>
            <table class="table table-bordered text-light">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Username</th>
                        <th scope="col">Streak</th>
                    </tr>
                </thead>
                <tbody>
                    {% for spot in streakboard %}
                        <tr>
                            {% if spot[2] == new_streak_id %}
                                <td style="color: chartreuse;">{{ loop.index0 + 1 }}</td>
                                <td style="color: chartreuse;">{{ spot[0] }}</td>
                                <td style="color: chartreuse;">{{ spot[1] }} new</td>
                            {% else %}
                                <td>{{ loop.index0 + 1}}</td>
                                <td>{{ spot[0] }}</td>
                                <td>{{ spot[1] }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock content %}