{% extends 'base.html' %}

{% block content %}
    <div class="container p-5">
        <div class="container text-center">
            <h1>YOU WIN!</h1>
        </div>
        <!-- Results -->
        <div class="container text-center">
            {% if count == 1 %}
                <h2>You found the solution with your first guess!</h2>
            {% else %}
                <h2>You found the solution with {{ count }} guesses!</h2>
            {% endif %}
            
            <h2>Score: {{ score }}</h2>
        </div>


        
        <!-- High score notifications -->
        <div class="container text-center">
            {% if new_personal_high %}
                <h2>You got a new personal high score!</h2>
            {% endif %}
    
            {% if new_high_score %}
                <h2>Congradulations! You made it on the leaderboard!</h2>
            {% endif %}

        </div>

        <!-- Leaderboard -->
        <h2 class="text-center my-3">Leaderboard</h2>
            <table class="table table-bordered text-light">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Username</th>
                        <th scope="col">Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for spot in leaderboard %}
                        <tr>
                            {% if spot[2] == new_score_id %}
                                <td style="color: chartreuse;">{{ loop.index0 + 1 }}</td>
                                <td style="color: chartreuse;">{{ spot[0] }}</td>
                                <td style="color: chartreuse;">{{ spot[1] }} new</td>
                            {% else %}
                                <td>{{ loop.index0 + 1}}</td>
                                <td>{{ spot[0] }}</td>
                                <td>{{ spot[1] }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container text-center my-5">
            <h2 class="pb-4">Try again?</h2>
            <a href="{{ url_for('game.start') }}">
                <button class="btn btn-primary">Start</button>
            </a>
        </div>

    </div>
{% endblock content %}